In [3]:
import sqlite3

In [4]:
con = sqlite3.connect('cap12_dsa.db')

In [5]:
cursor = con.cursor()

In [6]:
sql_query = """ SELECT AVG(Unidades_Vendidas) FROM tb_vendas_dsa; """

In [7]:
cursor.execute(sql_query)
print(cursor.fetchall())

[(10.506,)]

In [8]:
sql_query2 = """ SELECT nome_produto, AVG(Unidades_Vendidas) FROM tb_vendas_dsa GROUP BY nome_produto; """

In [9]:
cursor.execute(sql_query2)
cursor.fetchall()

[('Produto_1', 12.0),
 ('Produto_10', 9.5),
 ('Produto_11', 14.181818181818182),
 ('Produto_12', 8.846153846153847),
 ('Produto_13', 6.0),
 ('Produto_14', 9.166666666666666),
 ('Produto_15', 9.75),
 ('Produto_16', 8.25),
 ('Produto_17', 11.714285714285714),
 ('Produto_18', 13.083333333333334),
 ('Produto_19', 9.727272727272727),
 ('Produto_2', 9.25),
 ('Produto_20', 7.555555555555555),
 ('Produto_21', 10.285714285714286),
 ('Produto_22', 13.6875),
 ('Produto_23', 10.818181818181818),
 ('Produto_24', 12.272727272727273),
 ('Produto_25', 9.538461538461538),
 ('Produto_26', 9.363636363636363),
 ('Produto_27', 11.1),
 ('Produto_28', 9.0),
 ('Produto_29', 9.692307692307692),
 ('Produto_3', 8.909090909090908),
 ('Produto_30', 9.875),
 ('Produto_31', 7.9),
 ('Produto_32', 11.923076923076923),
 ('Produto_33', 12.285714285714286),
 ('Produto_34', 8.1),
 ('Produto_35', 9.0),
 ('Produto_36', 9.090909090909092),
 ('Produto_37', 11.0),
 ('Produto_38', 12.8),
 ('Produto_39', 12.666666666666666),
 ('Produto_4', 11.153846153846153),
 ('Produto_40', 7.25),
 ('Produto_41', 11.857142857142858),
 ('Produto_42', 10.272727272727273),
 ('Produto_43', 11.0),
 ('Produto_44', 7.2),
 ('Produto_45', 8.875),
 ('Produto_46', 12.142857142857142),
 ('Produto_47', 10.571428571428571),
 ('Produto_48', 14.0),
 ('Produto_49', 11.875),
 ('Produto_5', 10.2),
 ('Produto_50', 10.545454545454545),
 ('Produto_6', 12.0),
 ('Produto_7', 13.5625),
 ('Produto_8', 11.071428571428571),
 ('Produto_9', 7.2)]

In [10]:
sql_query3 = """ SELECT Nome_Produto, Valor_Unitario FROM tb_vendas_dsa WHERE Valor_Unitario > 100 GROUP BY Nome_Produto """

In [11]:
cursor.execute(sql_query3)
cursor.fetchall()

[('Produto_1', 161.33),
 ('Produto_10', 191.3),
 ('Produto_11', 116.83),
 ('Produto_12', 197.18),
 ('Produto_13', 124.63),
 ('Produto_14', 150.07),
 ('Produto_15', 199.24),
 ('Produto_16', 103.49),
 ('Produto_17', 199.62),
 ('Produto_18', 160.68),
 ('Produto_19', 151.51),
 ('Produto_2', 104.55),
 ('Produto_20', 194.8),
 ('Produto_21', 191.28),
 ('Produto_22', 106.38),
 ('Produto_23', 136.71),
 ('Produto_24', 101.17),
 ('Produto_25', 123.85),
 ('Produto_26', 158.71),
 ('Produto_27', 169.36),
 ('Produto_28', 180.7),
 ('Produto_29', 110.76),
 ('Produto_3', 164.55),
 ('Produto_30', 135.55),
 ('Produto_31', 143.05),
 ('Produto_32', 194.29),
 ('Produto_33', 102.3),
 ('Produto_34', 167.69),
 ('Produto_36', 161.97),
 ('Produto_37', 197.77),
 ('Produto_38', 154.03),
 ('Produto_39', 199.78),
 ('Produto_4', 116.57),
 ('Produto_40', 104.03),
 ('Produto_41', 128.05),
 ('Produto_42', 172.8),
 ('Produto_43', 194.33),
 ('Produto_44', 155.45),
 ('Produto_45', 119.4),
 ('Produto_46', 190.45),
 ('Produto_47', 146.07),
 ('Produto_48', 195.24),
 ('Produto_49', 119.61),
 ('Produto_5', 102.72),
 ('Produto_50', 191.3),
 ('Produto_6', 163.48),
 ('Produto_7', 145.76),
 ('Produto_8', 171.52),
 ('Produto_9', 166.11)]

In [13]:
cursor.close()
con.close()

In [15]:
con = sqlite3.connect('cap12_dsa.db')